Repository leapfrogtechnology/sync-db, pull requests merged in 2021-03, with the labels that each got.

#94 Integrate dry run feature by introducing `--dry-run` flag
  examples/node-app-mssql/package.json
  src/api.ts
  src/commands/migrate-latest.ts
  src/commands/migrate-rollback.ts
  src/commands/prune.ts
  src/commands/synchronize.ts
  src/domain/SynchronizeParams.ts
  src/domain/operation/OperationParams.ts
  src/service/execution.ts
  src/service/sync.ts
  src/util/db.ts
Labels: feature

#107 Fix migration issue by including file extension
  src/migration/service/migrator.ts
  test/unit/migration/migrator.test.ts
Labels: bug

#111 Auto-update README.md about CLI usage and commands
  README.md
  package.json
  release.sh
  yarn.lock
Labels: documentation

#109 Add make-publish command to publish templates for customization and interpolate templates
  README.md
  assets/templates/migration/create_down.stub
  assets/templates/migration/create_js.stub
  assets/templates/migration/create_table_js.stub
  assets/templates/migration/create_ts.stub
  assets/templates/migration/create_up.stub
  assets/templates/migration/update_js.stub
  assets/templates/migration/update_ts.stub
  package.json
  src/commands/make-publish.ts
  src/commands/make.ts
  src/domain/Configuration.ts
  src/domain/MakeOptions.ts
  src/domain/MakePublishResult.ts
  src/service/fileMaker.ts
  src/util/fs.ts
  test/cli/commands/make-publish.test.ts
  test/cli/commands/make.test.ts
Labels: config, enhancement, feature

#112 Make running the example a trivial process
  examples/node-app-pg-ts/.babelrc
  examples/node-app-pg-ts/Dockerfile
  examples/node-app-pg-ts/README.md
  examples/node-app-pg-ts/connections.sync-db.json.docker.example
  examples/node-app-pg-ts/connections.sync-db.json.example
  examples/node-app-pg-ts/docker-compose.yml
  examples/node-app-pg-ts/knexfile.js
  examples/node-app-pg-ts/package.json
  examples/node-app-pg-ts/src/index.js
  examples/node-app-pg-ts/src/sql/function/public/sum.sql
  examples/node-app-pg-ts/src/sql/function/utils/get_date.sql
  examples/node-app-pg-ts/src/sql/function/utils/product.sql
  examples/node-app-pg-ts/src/sql/procedure/utils/get_date.sql
  examples/node-app-pg-ts/src/sql/view/utils/vw_table_names.sql
  examples/node-app-pg-ts/src/sql/view/utils/vw_user_names.sql
  examples/node-app-pg-ts/sync-db.yml
  examples/node-app-pg-ts/yarn.lock
Labels: example

#115 Some fixes in example for ts migrations with node & mssql
  examples/node-app-mssql-ts/.babelrc
  examples/node-app-mssql-ts/Dockerfile
  examples/node-app-mssql-ts/README.md
  examples/node-app-mssql-ts/connections.sync-db.json.docker
  examples/node-app-mssql-ts/connections.sync-db.json.example
  examples/node-app-mssql-ts/docker-compose.yml
  examples/node-app-mssql-ts/package.json
  examples/node-app-mssql-ts/src/index.js
  examples/node-app-mssql-ts/yarn.lock
Labels: example

#118 Fixes in progammatic example
  examples/node-mssql-programmatic-use/.babelrc
  examples/node-mssql-programmatic-use/Dockerfile
  examples/node-mssql-programmatic-use/README.md
  examples/node-mssql-programmatic-use/connections.sync-db.json.docker
  examples/node-mssql-programmatic-use/connections.sync-db.json.example
  examples/node-mssql-programmatic-use/docker-compose.yml
  examples/node-mssql-programmatic-use/knexfile.js
  examples/node-mssql-programmatic-use/package.json
  examples/node-mssql-programmatic-use/src/index.js
  examples/node-mssql-programmatic-use/yarn.lock
Labels: example

#117 Throw an exception to rollback transaction if SQL migration fails
  examples/node-mssql-programmatic-use/connections.sync-db.json.example
  package.json
  src/migration/KnexMigrationSource.ts
  src/service/execution.ts
  src/util/promise.ts
Labels: bug
